header{
	position:relative;
	padding: 20;
	width:98.5%;
	background-color: #000000;
	color:#FFFFFF;
	top: -10;
	left: -10;
}
.cool{
	background-color: # #b0b0b0;
}
.footer{
    	position: fixed;
    	bottom: -10;
	left: -10;
   	width: 110%;
   	background-color: black;
    	color: white;
	padding-left: 25px;
   	padding-bottom: 60px;
}
.list{
	color:black;
}
